.container {
    background: white;
    max-width: 600px;
    padding: 3rem;
    border-radius: .5rem;
    margin: 20px 0;
    font-family: Montserrat;
}

@media(max-width: 768px) {
    .container {
        background: white;
        margin: 20px 0;
        padding: 1.5rem;

        width: calc(100% - 10vh);
    }
}

.container h3 {
    margin-bottom: 3rem;
}

.container h1 {
    margin-bottom: 2rem;
}