.container {
    background: white;
    width: 550px;
    padding: 3rem;
    border-radius: .5rem;
    font-family: Montserrat;
}

@media(max-width: 768px) {
    .container {
        background: white;
        width: calc(100% - 10vh);
    }
}

.container h3 {
    margin-bottom: 3rem;
}

.container h1 {
    margin-bottom: 2rem;
}