.meter {
    width: 100%;
    display: flex;
}

.bar {
    width: 100%;
    margin: 1px;
    height: 6px;
    border-radius: 5px;
}

.invisible {
    height: 0;
    margin: 0;
}

.bad {
    background: #da2410;
}

.weak {
    background: #e16b22;
}

.good {
    background: #f1c40f;
}

.strong {
    background: #a4ba13;
}

.epic {
    background: #1bb13c;
}