.meter {
    width: 100%;
    display: flex;
}

.bar {
    width: 100%;
    margin: 1px;
    height: 6px;
    border-radius: 5px;
}

.invisible {
    height: 0;
    margin: 0;
}

.weak {
    background: #e74c3c;
}

.good {
    background: #f1c40f;
}

.strong {
    background: #27ae60;
}